<h2>Statistics</h2>

<ul>

  <% @funeral_hash.each do |name, count| %>
  
   <li><%= name %>: <%= count %></li>
  <% end %>

</ul>


Most popular funeral_homes - Oren
Percentage breakdown by disposition (independent of religion and by religion) - Oren
Percentage breakdown by service_type (independent of religion and by religion) - August
Maybe breakdown of users by religion - August
