<h2>What Would You Want?</h2>
<p>The following are just some suggestions of things to consider as you're planning. Some may be more important to you than others and please explain if something is especially important to you.</p>

<%= render partial: "form.html.erb", locals: { funeral: @funeral, user: @user } %>
