<h2>Please Specify Your Funeral Preferences:</h2>

<%= render partial: "applications/object_errors.erb", locals: { object: @funeral } %>

<%= render partial: "form.html.erb", locals: { funeral: @funeral } %>
