<div class="card">
  <%= image_tag "project_photo1.jpeg", height: 200  %>
  <div class="card-body">
    <h5 class="card-title">Tell Us About Your Funeral Wishes</h5>
    <p class="card-text">Information...</p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div>
