<div class="card">

  <div class="card-body">
    <a href="<%= new_user_contact_path(@user) %>">
    <h5 class="card-title">Designate Contacts</h5> </a>
    <p class="card-text">
      Designate contacts to be aware of your wishes.</p>
  </div>
</div>
