<div class="card">

  <div class="card-body">
  <a href="<%= new_user_funeral_path(@user, @user.funeral) %>"> <h5 class="card-title">Tell Us About Your Wishes</h5> </a>
    <p class="card-text">We'll walk you through thinking about and documenting your wishes.</p>
  </div>
</div>
