<div class="card">
  <img src="https://i.imgur.com/Iew7NCX.jpg" height="200">
  <div class="card-body">
    <a href="<%= new_user_contact_path(@user) %>">
    <h5 class="card-title">Designate Contacts</h5> </a>
    <p class="card-text">
      Designate contacts for us to notify about your wishes.</p>
  </div>
</div>
