<div class="card">
  <img src="https://i.imgur.com/Iew7NCX.jpg" height="200">
  <div class="card-body">
    <a href="<%= new_user_funeral_path(@user, @user.funeral) %>"> <h5 class="card-title">Start Here</h5></a>
    <p class="card-text">First, we'll walk you through the process of thinking about and documenting your funeral wishes. Then you'll designate contacts to be aware of your wishes.</p>
  </div>
</div>
