<div class="card">
  <%= image_tag "project_photo1.jpeg", height: 200  %>
  <div class="card-body">
    <a href="<%= new_user_funeral_path(@user, @user.funeral) %>"> <h5 class="card-title">Start Here</h5></a>
    <p class="card-text">First, we'll walk you through the process of thinking about and documenting your funeral wishes. Then you'll designate contacts to manage your funeral arrangements on your behalf.</p>
  </div>
</div>
