<div class="card">
  <%= image_tag "project_photo1.jpeg", height: 200  %>
  <div class="card-body">
    <a href="<%= users_summary_path %>">
      <h5 class="card-title">View Both Your Contacts and Funeral Wishes</h5> </a>
    <p class="card-text">You have already designated contacts and documented your funeral wishes. View or edit them here.</p>
  </div>
</div>
