<div class="card">
  <img src="https://i.imgur.com/Iew7NCX.jpg" height="200">
  <div class="card-body">
    <a href="<%= users_summary_path %>">
      <h5 class="card-title">View Summary</h5> </a>
    <p class="card-text">You have already designated contacts and documented your funeral wishes. View or edit them here.</p>
  </div>
</div>
