<div class="card">
  <%= image_tag "project_photo1.jpeg", height: 200  %>
  <div class="card-body">
    <a href="<%= user_contacts_path(@user) %>">
    <h5 class="card-title">View or Edit Your Contacts</h5> </a>
    <p class="card-text">You've designated contacts to manage your funeral arrangements on your behalf. View or edit your contacts here. </p>
  </div>
</div>
