<div class="card">
  <img src="https://i.imgur.com/8NhOaDC.jpg?2" height="200">
  <div class="card-body">
    <a href="<%= user_funerals_path(@user) %>"> <h5 class="card-title">View Our Users' Funeral Wish Statistics</h5> </a>
    <p class="card-text">Curious about how others are planning ahead? See some statistics about our users' funeral wishes.</p>
  </div>
</div>
