<div class="card">
  <img src="https://i.imgur.com/j5Pubs7.jpg" height="200">
  <div class="card-body">
    <a href="<%= user_contacts_path(@user) %>">
    <h5 class="card-title">View or Edit Your Contacts</h5> </a>
    <p class="card-text">You've designated contacts to be aware of your funeral wishes. View or edit your contacts here. </p>
  </div>
</div>
