<h2>Create a new user account</h2>

<%= render partial: "form.html.erb", locals: { object: @user } %>
<br>
<br>
<p>If you already have an account, login here.</p>

<div class="inline">
  <a href="/access/login" class="btn btn-outline-primary inline" role="button" aria-pressed="true">Login</a>
</div>
