
<h2>User Summary</h2>

<%= link_to 'Print Summary Page', 'users_summary_path', :onclick => 'window.print();return false;'%>

<%= render  "contacts/list_user_contacts" %>

<%= render partial: "shared/crud_button", locals: {path: new_user_contact_path(@user), method: "GET", value: "Create a New Contact"} %>

<%= render partial: "shared/funerals_show.html.erb", locals: { funeral: @funeral } %>
