/* All =========================== */
#std-header {
  padding: 100px 50px 25px;
  background-color: #7A93AC;
  color: white;
}

#home-page {
  padding: 100px 50px 25px;
  background-color: #39393A;
  color: white;
}

#content{
  padding: 50px 0px;
}

h2 {
  padding: 25px 0px;
}

h3 {
  padding: 25px 0px;
}

.btn {
  display: inline-block;
  margin: 5px 5px 0px 0px;
}

.inline {
  display: inline-block;
}

.contact-cards {
  padding: 25px;
}

.right {
  text-align: right;

}

#footer {
    text-align: right;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-top: 50px;

}

#main {
  padding-top: 30px;
}

.top-margin {
  margin-top: 25px;
}

.top-margin-2 {
  margin-top: 10px;
}

.header-link a {
  text-decoration: none;
  color: white;
}

.header-link a:visited {
  text-decoration: none;
  color: white;
}

.header-link a:hover {
  text-decoration: none;
  color: white;
}

.header-link a:active {
  text-decoration: none;
  color: white;
}

.right {
  align: right;
}
